:root {
  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --heading-color: #1b0760;
  --body-color: #918ca4;
  --darker-body-color: #5c5577;
  --border-color: #ccc;
  --border-radius: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  margin: 10px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--body-color);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--heading-color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.primary--badge {
  background-color: var(--primary-color);
}

.secondary--badge {
  background-color: var(--secondary-color);
}

.small--badge {
  font-size: 1.6rem;
}

@media only screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .small--badge {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--heading-color);
}

.inline--list {
  display: inline-block;
}

.inline--list .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.tick--list {
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
}

.tick--list .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
  .tick--list .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.primary--icon {
  fill: var(--primary-color);
}

.white--icon {
  fill: #fff;
}

.small--icon {
  width: 30px;
  height: 30px;
}

.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background-color: var(--accent-color);
}

/* Buttons */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.stretched--btn {
  padding-left: 6rem;
  padding-right: 6rem;
}

.primary--btn {
  background: var(--primary-color);
  color: #fff;
}

.primary--btn:hover {
  background: #3a8ffd;
}

.secondary--btn {
  background-color: var(--secondary-color);
  color: #fff;
}

.secondary--btn:hover {
  background: #00c8eb;
}

.accent--btn {
  background: var(--accent-color);
  color: #fff;
}

.accent--btn:hover {
  background: #ec3000;
}

.block--btn {
  width: 100%;
  display: inline-block;
}

.outline--btn {
  background-color: #fff;
  color: var(--heading-color);
  border: 2px solid var(--heading-color);
}

.outline--btn:hover {
  background-color: var(--heading-color);
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  color: var(--heading-color);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn {
  margin: 4px;
}

@media only screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: visible;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.primary--card .card__header {
  background-color: var(--primary-color);
  color: fff;
}

.secondary--card .card__header {
  background-color: var(--secondary-color);
  color: #fff;
}

/* Plans */

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.popular--plan .card__header {
  position: relative;
}

.popular--plan .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */

.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--darker-body-color);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
}

.quote__organization {
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media only screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media only screen and (min-width: 768px) {
  .two-col-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .three-col-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */

.testimonial {
  padding: 5rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media only screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts */

.callout {
  padding: 4rem;
  border-radius: 5px;
}

.primary--callout {
  background: var(--primary-color);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .callout .two-col-grid {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}
