:root {
  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --heading-color: #1b0760;
  --body-color: #918ca4;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  margin: 10px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--body-color);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--heading-color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.primary--badge {
  background-color: var(--primary-color);
}

.secondary--badge {
  background-color: var(--secondary-color);
}

.small--badge {
  font-size: 1.6rem;
}

@media only screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .small--badge {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--heading-color);
}

.inline--list {
  display: inline-block;
}

.inline--list .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.tick--list {
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
}

.tick--list .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
  .tick--list .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.primary--icon {
  fill: var(--primary-color);
}

.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
